# SPDX-FileCopyrightText: Copyright (C) 2023 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[ req ]
default_bits        = 4096
prompt              = no
distinguished_name  = req_distinguished_name
default_md          = sha256

[ req_distinguished_name ]
C  = CA
ST = QC
L  = Montreal
O  = Opal Med Apps CA
CN = db
emailAddress = muhc.app.mobile@gmail.com
