# Database configuration.
DATABASE_ROOT_PASSWORD=super-duper-secret-password
DATABASE_USER=opal
DATABASE_PASSWORD=super-duper-more-secretive-password
DATABASE_HOST=db
DATABASE_PORT=3306
MARIADB_EXTERNAL_PORT=3307

DATABASE_GUEST_USER=guest
DATABASE_GUEST_PASSWORD=Vud2l6SobIle

# PHP configuration
PHP_PORT=8091

# Adminer configuration
ADMINER_PORT=8090

# SSH configuration
# Path to private key (without a passphrase)
SSH_KEY_PATH=/Users/localuser/.ssh/deploy_key