revisions/
certs/*
!certs/openssl-client.cnf
!certs/openssl-server.cnf
!certs/v3.ext

.DS_Store
.idea/
# Environment settings
.venv/
.env

# ---> Python
# Byte-compiled / optimized / DLL files
__pycache__/

# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
